<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/login_pages.css">
    <link rel="stylesheet" href="static/css/doc_main.css">
    <script src="static/js/jquery-3.6.1.min.js"></script>
    <script src="static/js/localStorageHandler.js"></script>
    <script src="static/js/doc_main.js"></script>
    <title>Telemedicine System</title>
</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top" id="mainNavBar">
        <div class="container-fluid">
          <a style="margin-right: 75%" class="navbar-brand nav--home" onclick="window.open('/welcome', '_self')">Home</a>
          <button class= "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse Nav_Buttons" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a style="margin-right: 30px" class="nav-link" onclick="window.open('/res_reg', '_self')">Account</a>
              <a class="nav-link" onclick="window.open('/res_login', '_self')">Log out</a>
            </div>
          </div>
        </div>
      </nav>
    <div style="width: 1000px; margin-left: 12%; height: 100%;" class="login_container">
        <div style="width: 1000px;margin-left: 12%;height: 100%;" class="login_window" id="doc_login">
            <div style="width: 1000px;margin-left: 12%;height: 100%;" class="doc_main_content">
                <input type="hidden" id="doctor_username_holder" th:value="${session.doctor.getUsername()}">
                <input type="hidden" id="doctor_id_holder" th:value="${session.doctor.getId()}">
                <table>
                    <tr>
                        <td style="width: fit-content">
                            <h1 style="font-size: 2.2em;">
                                Welcome, <span th:text="${session.doctor.getFirstname()}"></span> <br> 
                                Manage your info, messages, and appointments
                            </h1>
                            <div id="message_card_list" style="width: 300px; background: #272727">
                                <h2>Messages</h2>
                            </div>
                            <div th:text="${session.doctor.getAddress()}">
                            </div>
                            <div class="doctor_main_buttons">
                                <div class="list_button" onclick="window.open('/doc_edit', '_self')">
                                     edit my info
                                </div>
                                <div class="list_button" onclick="window.open('/appointment_list', '_self')">
                                    see my appointments
                                </div>
                                <div style="margin-left: 25%;" class="list_button">
                                    logout
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>