<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login_pages.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin>
    <link rel="stylesheet" href="static/css/doc_main.css">
    <script src="static/js/jquery-3.6.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin></script>
    <script src="static/js/localStorageHandler.js"></script>
    <script src="static/js/floating_message_window.js"></script>
    <script src="static/js/doc_main.js"></script>
    <title>Telemedicine System</title>
</head>
<body>
<input type="hidden" id="doctor_username_holder" th:value="${session.doctor.getUsername()}">
<input type="hidden" id="doctor_id_holder" th:value="${session.doctor.getId()}">
<input type="hidden" id="doctor_latitude_holder" th:value="${session.doctor.getLatitude()}">
<input type="hidden" id="doctor_longitude_holder" th:value="${session.doctor.getLongitude()}">
<div class="floating_window_list"></div>
<table>
    <tr>
        <td style="width: fit-content">
            <h1>
                Hi, <span th:text="${session.doctor.getFirstname()}"></span>
            </h1>
            <div th:text="${session.doctor.getAddress()}">
            </div>
            <div class="list_button" onclick="window.open('/doc_edit', '_self')">
                edit my info
            </div>
            <div class="list_button" onclick="window.open('/appointment_list', '_self')">
                see my appointments
            </div>
            <div class="list_button" onclick="logout()">
                logout
            </div>
        </td>
        <td id="message_card_list" style="width: 300px;">
            <h2>Messages</h2>
        </td>
    </tr>
</table>
<div class="fixed_on_top alarm_message" id="alarm_message_container" style="width: 100vw; height: 20vh; text-align: center">
    <h1>ALARM</h1>
    <div style="margin-bottom: 10px">
        A resident sent an emergency request to you (<span style="color: blue" id="alarm_message_map_button">see map</span>)
    </div>
    <div style="margin-bottom: 10px" >
        <button id="alarm_message_contact_button">Contact</button>
        <button id="alarm_message_cancel_button">Cancel</button>
    </div>
</div>
<div class="fixed_on_top" id="map_container">
    <div class="floating_background"></div>
    <div class="floating_map" id="floating_map"></div>
</div>
</body>
</html>