<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <title>Telemedicine System</title>
    <link rel="stylesheet" href="static/css/login_pages.css">
    <script src="static/js/jquery-3.6.1.min.js"></script>
    <script src="static/js/online_checker.js"></script>
    <script src="static/js/res_main.js"></script>
</head>
<body>
    <input type="hidden" id="resident_username_holder" th:value="${session.resident.getUsername()}">
    <input type="hidden" id="resident_id_holder" th:value="${session.resident.getId()}">
    <input type="hidden" id="resident_latitude_holder" th:value="${session.resident.getLatitude()}">
    <input type="hidden" id="resident_longitude_holder" th:value="${session.resident.getLongitude()}">
  <table>
    <tr>
        <td style="vertical-align: top">
            <h1>
                Hi, <span th:text="${session.resident.getFirstname()}"></span>
            </h1>
            <div th:text="${session.resident.getAddress()}">
            </div>
            <div id="edit_info" class="list_button" onclick="window.open('/res_edit', '_self')">
                edit my info
            </div>
            <div id="health_monitor" class="list_button">
                health monitoring
            </div>
            <div id="list_appointment" class="list_button">
                check my appointments
            </div>
            <div class="alarm">
                ALARM
            </div>
            <div id="logout" class="list_button">
                logout
            </div>
        </td>
        <td style="background: cornsilk">
            <h1>
                Doctors Around Me
            </h1>
            <div id="doctor_card_list">

<!--                <div class="doctor_card" th:each="doctor, iStat : ${session.doctorsNearby}" th:id="${doctor.getId()}">-->
<!--                    <h3><span th:text="${doctor.getFirstname()}"></span> <span th:text="${doctor.getLastname()}"></span></h3>-->
<!--                    <div>Specialty:-->
<!--                        <span class="spec_border" th:text="${doctor.getSpecialty1()}" th:style="'display:'+${doctor.getSpecialty1_id() != 0? 'inline':'none'}" ></span>-->
<!--                        <span class="spec_border" th:text="${doctor.getSpecialty2()}" th:style="'display:'+${doctor.getSpecialty2_id() != 0? 'inline':'none'}" ></span>-->
<!--                        <span class="spec_border" th:text="${doctor.getSpecialty3()}" th:style="'display:'+${doctor.getSpecialty3_id() != 0? 'inline':'none'}" ></span>-->
<!--                        <span class="spec_border" th:text="${doctor.getSpecialty4()}" th:style="'display:'+${doctor.getSpecialty4_id() != 0? 'inline':'none'}" ></span>-->
<!--                        <span class="spec_border" th:text="${doctor.getSpecialty5()}" th:style="'display:'+${doctor.getSpecialty5_id() != 0? 'inline':'none'}" ></span>-->
<!--                    </div>-->
<!--                    <div>Organization: <span th:text="${doctor.getHospital()}"></span></div>-->
<!--                    <div>Distance: <span th:text="${doctor.getDistance()}"></span> km</div>-->
<!--                    <div>Status: <span th:text="${session.doctorsOnlineStatus[iStat.index] ? 'online' : 'offline'}"></span> </div>-->
<!--                    <div class="consult_button" style="background: aquamarine">-->
<!--                        <input type="hidden" name="doctor_id" th:value="${doctor.getId()}">-->
<!--                        Consult Online!</div>-->
<!--                    <div style="background: darkturquoise" class="appointment_button">-->
<!--                        <input type="hidden" name="doctor_id" th:value="${doctor.getId()}">-->
<!--                        Make an Appointment</div>-->
<!--                </div>-->
            </div>
        </td>
        <td style="background: gainsboro; vertical-align: top; width: 400px; position:absolute; height:100%">
            <h1>Describe my symptom</h1>
            <div class="dropdown_container">
                <label for="symptoms"></label>
                <div class="input_text" id="symptoms" contenteditable="true" placeholder="symptom1, symptom2, ..." tabindex="0"></div>
                <div id="option_list">
                </div>
            </div>
            <div id="symptoms_search" tabindex="0">Search</div>
            <div style="padding-top: 20px">
                <h1> </h1>
            </div>
            <div id="symptom_doctor_list">
<!--                <div class="symptom_card">first symptom-->
<!--                    <div class="disease_card">first disease-->
<!--                        <div class="specialty_card">first specialty-->
<!--                            <div class="doctor_card">-->
<!--                                doctor 1-->
<!--                                <div>Specialty: Cardiology Gastroenterology Orthopedic Surgery</div>-->
<!--                                <div>Organization: North of Superior Healthcare Group</div>-->
<!--                                <div>Distance: 56 m</div>-->
<!--                                <div class="consult_button" style="background: aquamarine">-->
<!--                                    <input type="hidden" name="doctor_id" th:value="1">-->
<!--                                    consult-->
<!--                                </div>-->
<!--                                <div style="background: darkturquoise">appointment</div>-->
<!--                            </div>-->
<!--                            <div class="doctor_card">-->
<!--                                doctor 1-->
<!--                                <div class="consult_button" style="background: aquamarine">consult</div>-->
<!--                                <div style="background: darkturquoise">appointment</div>-->
<!--                            </div>-->
<!--                            <div class="doctor_card">-->
<!--                                doctor 1-->
<!--                                <div class="consult_button" style="background: aquamarine">consult</div>-->
<!--                                <div style="background: darkturquoise">appointment</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="disease_card">second disease-->
<!--                        <div class="doctor_card">doctor 1</div>-->
<!--                        <div class="doctor_card">doctor 1</div>-->
<!--                        <div class="doctor_card">doctor 1</div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </td>
    </tr>
  </table>
</body>
</html>